<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PotLucky</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="/styles/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
  
  <title>PotLucky!</title>
</head>

<body>
  {{{body}}}
</body>

</html>
