<h1>Add items to your event!</h1>
<div class="container">
    <form action="/host2" method="post" class="form-inline" id="item-form">
        <div class="row col-12">
            <button class="btn btn-success btn-add" id="add-items" type="button">
                Add more items
            </button>
        </div>
        <br>
        <div class="form-group row col-12">
            <input action="/host2" type="submit" class="btn btn-primary" id="form-submit"></input>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/host.js"></script>
<script>var event_id = "{{event_id}}"</script>