<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Potlucky!</h1>
        <h2>No necessity left behind!</h2>
        <a class="btn btn-danger" href="host">Host A New Party</a>
        <a class="btn btn-info" href="view">View Current Parties</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
