<h1 class="text-center">Current Events</h1>
<div class="container mt-3">
    <div class="row border-bottom border-dark">
        <div class="col-5 text-center border-right border-dark">Event:</div>
        <div class="col-2 text-center">Type:</div>
        <div class="col-2 text-center border-left border-right border-dark">Location:</div>
        <div class="col-2 text-center border-dark">Date:</div>
    </div>
    {{#each events}}
    <div class="row border-top border-bottom border-dark py-3">
        <a class="col-5 text-center border-right border-dark">events.event_name</a>
        <div class="col-2 text-center">events.event_type</div>
        <div class="col-2 text-center border-left border-right border-dark">events.event_location</div>
        <div class="col-2 text-center border-dark">events.event_date</div>
    </div>
    {{/each}}
</div>

<!-- view event -->
  <section id="event">
    <div class="bg-color" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center" style="padding:60px;">
            <h1 class="header-h">Up Coming Events</h1>
          </div>
          <div class="col-md-12" style="padding-bottom:60px;">
            <div class="item active left">
              {{!-- <div class="col-md-6 col-sm-6 left-images">
                <img src="/public/styles/img/viewpage.jpg" class="img-responsive">
              </div> --}}
              <div class="col-md-12 col-sm-6 details-text">
                <div class="content-holder">
                  <h2>View all upcoming events here!</h2>
                  <p>Looking for an event? Find it with the unique event ID or browse other events on our view page!</p>
                  <address>
                              <strong>Event: </strong>
                              Kyle's Luau 
                              <br>
                              <strong>Host: </strong>
                              Kyle123
                              <br>
                              <strong>ID: </strong>
                              12345
                            </address>
                  <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ event -->